@charset "utf-8";
body,h2,h3,div,span,p,ul,li,ol{
    margin: 0;
    padding: 0;
    list-style: none;

}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.16rem;
    line-height: 0.3rem;
}
$w:4.8rem;
.zjb-heard{
    height: 0.74rem;
  img{
      height:0.74rem;
      width:4.8rem;
  }
}
.zjb-box{
    height: 0;
    flex-grow: 1;
    overflow: hidden;
    background: #eee;
    .zjb-con{
        min-height: 101%;
        background: #fff;
    }
}
.banner{
    height:1.7rem;
    img{
        width:$w;
        height:1.7rem;
    }
    .swiper-pagination-bullet{
        width:0.06rem;
        height:0.06rem;
        opacity: 1;
        background: greenyellow;
    }
    .swiper-pagination-bullet-active{
        background: red;
        width:0.1rem;
        height:0.1rem;
    }
}
.middle{
    height:2.2rem;
    ul{
        padding:0.2rem 0;
        display: flex;
        flex-wrap:wrap;
        justify-content:space-between;
        li{
            width:20%;
            height:0.9rem;
            text-align: center;
            img{
                width:0.4rem;
                height:0.4rem;
                display: block;
                margin:0 auto;
            }
            a{
                text-decoration: none;
                color: #000;
                font-size:0.16rem;
            }
        }
    }
}
.tp{
    height:1.3rem;
    img{
        width:4.26rem;
        height:1.06rem;
        display: block;
        margin:0 auto;
    }
}
.h{
    height:0.52rem;

    text-align: center;
    h2{

        font-size:0.2rem;
        span{
            display: inline-block;
            width:0.18rem;
            height:0.18rem;
            line-height:0.18rem;
            font-size:0.12rem;
            text-align: center;
            color: #fff;
            background: red;
            margin-right:0.06rem;
            &:nth-child(3){
                width:0.46rem;
                margin-left:0.1rem;
            }
        }
    }
    h3{
        line-height:0.52rem;
    }

}
.last{
    height:2.1rem;
    .t{
        height:0.54rem;
        display: flex;
        align-items: center;
        justify-content:space-between;
        h2{
            span{
                height:0.28rem;
                //line-height: 0.4rem;
                display: inline-block;
                border:solid 4px red;
            }
        }
    }
    .s{
        height:1.56rem;
        width:$w;
        overflow: hidden;
        ul{
            padding:0.1rem 0;
            width:6rem;
            display: flex;
            justify-content:space-around;
            li{
                width:20%;
                height:1.34rem;
                text-align: center;
                img{
                    width:0.82rem;
                    height:0.82rem;
                    display: block;
                    margin:0 auto;
                }
                b{
                    margin:0.14rem 0 0.08rem 0;
                }
            }
        }
    }
}



.zjb-foot{
    height:0.6rem;
    width:$w;
    img{
        height:0.6rem;
        width:$w;
    }
}
