body,div,span,p,ul,li,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.16rem;
    line-height: 0.3rem;
}
$w:6rem;
.zjb-heard{
    text-align: center;
    height: 0.8rem;
    background: greenyellow;
}
nav{
    width:5rem;
    overflow: hidden;
    background: red;
    ul{
        width:10rem;
        display: flex;
        justify-content:space-around;
        li{
            width:0.6rem;
            text-align: center;
            &.active{
                background: orange;
                font-weight:bold;
            }
        }
    }
}
.zjb-box{
    height: 0;
    flex-grow: 1;
    overflow: hidden;
    background: #eee;
    .zjb-con{
        min-height: 101%;
        background: #fff;
    }
}
.nv{
    margin:0 auto;
    padding:0.2rem 0;
    width:5rem;
    height:4rem;
    background: pink;
    font-weight:bold;
    text-align: center;
}
.zjb-foot{
    @extend .zjb-heard;
    ul{
        display: flex;
        justify-content:space-around;
        li{
            width:20%;
            img{
                width:0.8rem;
                height:0.8rem;
            }
        }
    }
}
.top{
    text-align: center;
    height:0.4rem;
    background: yellow;
    display: none;
}
.bottom{
    @extend .top;
}
.er{
    margin: 0 auto;
    width:4rem;
    height:4rem;
    font-size:0.2rem;
    background: yellowgreen;
    //color: orange;
    text-align: center;
    font-weight:bolder;
    margin-bottom:0.3rem;
}
.san{
    @extend .er;
    background: yellow;
}