body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
#hxc-banner{
    height: 200px;
    .swiper-slide{
        font-size: 72px;
        text-align: center;
         height: 200px;
         background: #007AFF;
         &:nth-child(2){
             background: #726129;
         }
         &:nth-child(3){
             background: #c00;
         }
       }
}
