body,div,span,p,ul,li,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.16rem;
    line-height: 0.3rem;
}
.zjb-heard{
    height: 0.4rem;
    background: greenyellow;
}
.zjb-box{
    height: 0;
    flex-grow: 1;
    overflow: hidden;
    background: #eee;
    .zjb-con{
        min-height: 101%;
        background: #fff;
    }
}
.zjb-foot{
    @extend .zjb-heard;
}
