@charset "utf-8";
body,div,span,p,h3,h4,h5,ul,li,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.16rem;
    line-height: 0.3rem;
}
$w:6.8rem;
//头部布局
.zjb-heard{
    height: 1.04rem;
   img{
       width:$w;
       height:1.04rem;
   }
}
//导航条布局
.navs{
    height:0.58rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    nav{
        //margin-right: 0.4rem;
        width:5.86rem;
        overflow: hidden;
        ul{
            width:8.5rem;
            display: flex;
            justify-content:space-around;
            li{
                margin:0 0.2rem;
                transition: all 3s;
                //&:hover{
                //    color: red;
                //    border-bottom:solid 2px red;
                //    transition: all 3s;
                //    transform:scale(2,1) rotate(360deg);
                //}
                &.active{
                    color: red;
                    border-bottom:solid 2px red;
                    transition: all 3s;
                    transform:scale(2,1) rotate(360deg);
                }
            }
        }
    }
    img{
        width:0.3rem;
        height:0.3rem;
        margin-right: 0.22rem;
    }
}
//内容滚动布局
.zjb-box{
    height: 0;
    flex-grow: 1;
    overflow: hidden;
    background: #eee;
    .zjb-con{
        min-height: 101%;
        background: #fff;
    }
}
//轮播图布局
.banner{
    height:2.72rem;
    img{
        height:2.72rem;
        width:$w;
    }
    .swiper-pagination{
        .swiper-pagination-bullet{
            border-radius: 0;
            width: 0.4rem;
            height:0.04rem;
            opacity: 1;
            background: greenyellow;
        }
        .swiper-pagination-bullet-active{
            background:red;
        }
    }
}
//列表布局
.list{
    height:3.33rem;
    ul{
        padding-top:0.3rem;
        display: flex;
        flex-wrap:wrap;
        justify-content:space-around;
        li{
            width:20%;
            height:1.5rem;
            text-align: center;
            img{
                width:0.78rem;
                height:0.76rem;
                display: block;
                margin:0 auto;
            }
            a{
                text-decoration: none;
                color: #000;
                font-size:0.2rem;
                line-height:0.6rem;
            }
        }
    }
}
//条子布局
.tiao{
    border: 2px solid #ccc;
    border-right:none;
    border-left: none;
    height:0.54rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    h3{
        width:1rem;
        background:  url(../img/a_06.jpg) no-repeat 0.58rem;
        background-size:0.11rem 0.16rem;
        &:nth-child(1){
            background: url(../img/a_09.jpg) no-repeat 0.58rem;
            background-size:0.11rem 0.08rem;
        }
    }
    img{
        width:0.38rem;
        height:0.36rem;
    }
}
//内容布局
.content{
    //height:7rem;//上拉加载不需要高，否则有bug
    ul{
        padding:0.22rem 0;
        li{
            height:2.4rem;
            display: flex;
            justify-content:space-around;
            img{
                width:2.14rem;
                height:2.04rem;
            }
            .right{
                //border: 1px solid #000;
                width:4.28rem;
                h3{
                    span{
                        display: inline-block;
                        width:0.4rem;
                        height:0.2rem;
                        border-radius: 0.17rem;
                        background: orange;
                        font-size:0.12rem;
                        text-align: center;
                        line-height:0.2rem;
                        color: #fff;
                    }
                }
                small{
                    display: block;
                    margin:0.28rem 0 0.24rem;
                    font-size: 0.12rem;
                    color: red;
                    span{
                        font-size: 0.22rem;
                        color: red;
                        font-weight:bolder;
                    }
                    b{
                        font-size: 0.18rem;
                        color: #ccc;
                        margin-left:0.14rem;
                    }
                }
                big{
                    display: block;
                    font-size: 0.18rem;
                    color: #ccc;
                    margin-bottom:0.3rem;
                }
                p{
                    display: flex;
                    //justify-content:space-between;
                    i{
                        width:0.23rem;
                        height:0.27rem;
                        font-style: normal;
                        background: red;
                        color: #fff;
                        font-size: 0.17rem;
                    }
                    u{
                        display: block;
                        text-decoration: none;
                        width:0.57rem;
                        height:0.27rem;
                        background: red;
                        font-size:0.15rem;
                        color: #fff;
                        text-align: center;
                        margin-right:1.68rem;
                    }
                    span{
                        display: inline-block;
                        width:1.8rem;
                        height:0.27rem;
                        background: red;
                        text-align: center;
                        font-size:0.17rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}


.sl{
    height:0.4rem;
    background: #eee;
    display: none;
}
//页脚布局
.zjb-foot{
    height:0.84rem;
    ul{
        padding-top: 0.2rem ;
        display: flex;
        justify-content:space-around;
        li{
            width:20%;
            text-align: center;
            img{
                width:0.36rem;
                height:0.34rem;
                display: block;
                margin:0 auto;
            }
            a{
                text-decoration: none;
                color: #000;
                font-size:0.14rem;
            }
            &:nth-child(1){
                a{
                    color: red;
                    font-weight:bolder;
                }
            }
            &:nth-child(3){
                img{
                    width:0.74rem;
                    height:0.64rem;
                }
            }
        }
    }
}
