@charset "utf-8";
body,div,span,p,h3,h4,ul,li,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.16rem;
    line-height: 0.3rem;
}
$w:6.8rem;
//头部布局
.zjb-heard{
    height:1.54rem;
    &>img{
        width:$w;
        height:0.63rem;
    }
   div{
       display: flex;
       justify-content:space-around;
       align-items: center;
       img{
           width:0.35rem;
           height:0.35rem;
           &:nth-child(3){
               width:0.42rem;
               height:0.54rem;
           }
       }
       input{
           width:4.61rem;
           height:0.55rem;
           font-size:0.24rem;
           padding-left:0.54rem;
           border:solid 1px #f0f0f0;
           border-radius:0.6rem;
           outline-style: none;
           background: #f0f0f0 url(../img/aa.jpg)  no-repeat 0.2rem;
           background-size:0.22rem 0.22rem;
       }
       ::-webkit-input-placeholder{
           color: #bababa;
       }
   }
}
//内容滚动布局
.zjb-box{
    height: 0;
    flex-grow: 1;
    overflow: hidden;
    background: #eee;
    .zjb-con{
        min-height: 101%;
        background: #f5f7f9;
    }
}
//轮播图布局
.zjb-banner{
    height:2.18rem;
    img{
        width:6.44rem;
        height:2.18rem;
        display: block;
        margin:0 auto;
    }
}
//中间的图片布局
.zjb-tu{
    height:7.19rem;
    img{
        width:6.44rem;
        height:7.19rem;
        display: block;
        margin:0 auto;
    }
}
//导航条布局
.zjb-nav{
    width:$w;
    height:0.84rem;
    //line-height:0.84rem;
    ul{
        display: flex;
        align-items: center;
        width:6.44rem;
        justify-content:space-around;
        li{
            font-size:0.22rem;
            color: #8f8f8f;
            width:1.1rem;
            text-align: center;
            &.active{
                color: #000;
                font-weight:bolder;
                background:  url(../img/cc.jpg) no-repeat bottom;
                background-size:0.37rem 0.04rem;
                line-height:0.6rem;
            }
        }
    }
}
//内容布局
.zjb-content{
    //height:10.24rem;
    ul{
        margin:0 auto;
        width:6.44rem;
        //height:10.24rem;
        display: flex;
        flex-wrap:wrap;
        justify-content:space-between;
        li{
            //padding-top:0.2rem;
            margin-top:0.2rem;
            width:2.82rem;
            height:5.04rem;
            background: #fff;
            border-radius:0.2rem;
            img{
                width:100%;
                height:3.30rem;
                vertical-align: top;
            }
           div{
               width:2.64rem;
               padding-left:0.18rem;
               i{
                   line-height:0.2rem;
                   font-style: normal;
                   font-size: 0.2rem;
                   padding-left:0.18rem;
               }
               p{
                   margin-top: 0.24rem;
                   display: flex;
                   font-size: 0.2rem;
                   color: red;
                   font-weight:bolder;
                   span{
                       display: block;
                       background: red;
                       //border: 1px solid #000;
                       width:0.58rem;
                       height:0.22rem;
                       text-align: center;
                       line-height:0.22rem;
                       color: #fff;
                       font-size:0.14rem;
                       margin-left:0.16rem;
                   }
               }
           }
        }
    }
}



//页脚布局
.zjb-foot{
    height:0.8rem;
    ul{
        padding:0.2rem 0;
        display: flex;
        justify-content:space-around;
        li{
            font-size: 0.25rem;
            color: #acacac;
            width:20%;
            text-align: center;
            img{
                width:0.76rem;
                height:0.56rem;
                margin-top:-0.1rem;
            }
            &.shop{
                font-weight:bolder;
                color: #000;
                font-size:0.28rem;
            }
        }
    }
}
//上拉刷新，下拉布局
.sl{
    height:0.4rem;
    width:$w;
    background: #ccc;
    text-align: center;
    display: none;
}
.xl{
    @extend .sl;
}

//点击左侧图片，出现导航条
.tiao{
    position: absolute;
    left:-6.80rem;
    //width:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.4);
    //display: none;
    .tt{
        left:0;
        //left:-3.40rem;
        position: absolute;
        width:50%;
        //display: none;
        height:100%;
        background: #fff;
    }
}