body, ul, ol, li, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  font-size: 0.24rem;
  line-height: 0.4rem; }

.top {
  height: 0.31rem; }
  .top img {
    width: 6.4rem;
    height: 0.31rem; }

.header {
  height: 1.38rem;
  font-size: 0.2rem;
  text-align: center;
  background: linear-gradient(#d81245, #cb0911, #cb0911, #c21011);
  color: #fff;
  line-height: 0.7rem; }
  .header .smain {
    height: 0.68rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header .smain div {
      width: 4.34rem; }
      .header .smain div input {
        width: 3.6rem;
        height: 0.45rem;
        border-radius: 0.2rem;
        background: #f14b4b url(../img/hs_12.jpg) no-repeat 0.3rem;
        background-size: 0.25rem 0.24rem;
        padding-left: 0.7rem;
        outline: none;
        font-size: 0.2rem; }
        .header .smain div input::placeholder {
          color: #eee; }
    .header .smain img {
      width: 0.38rem;
      height: 0.39rem; }
      .header .smain img:nth-child(3) {
        width: 0.36rem;
        height: 0.45rem; }
      .header .smain img:nth-child(4) {
        width: 0.43rem;
        height: 0.45rem; }

.hxc-nav-container {
  height: 0.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .hxc-nav-container div {
    width: 4.7rem;
    height: 0.7rem;
    overflow: hidden; }
    .hxc-nav-container div ul {
      display: flex;
      width: 8rem; }
      .hxc-nav-container div ul li {
        margin: 0 0.15rem;
        line-height: 0.7rem; }
        .hxc-nav-container div ul li.active {
          color: #eeee00;
          border-bottom: solid 0.03rem #ee0;
          line-height: 0.67rem; }
  .hxc-nav-container img {
    width: 0.67rem;
    height: 0.24rem; }
    .hxc-nav-container img:nth-child(3) {
      width: 0.21rem;
      height: 0.19rem; }

html {
  height: 100%; }

body {
  height: 100%;
  display: flex;
  flex-direction: column; }

.box {
  height: 0;
  flex-grow: 1;
  overflow: hidden; }
  .box .content {
    min-height: 101%; }

#hxc-banner {
  height: 2.57rem; }
  #hxc-banner img {
    width: 6.4rem;
    height: 2.57rem; }

.hxc-subnav ul {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.2rem; }
  .hxc-subnav ul li {
    width: 20%;
    height: 1.4rem; }
    .hxc-subnav ul li img {
      display: block;
      width: 0.73rem;
      height: 0.7rem;
      margin: 0 auto; }
    .hxc-subnav ul li a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: #222;
      font-size: 0.18rem; }

.hxc-cp {
  height: 0.54rem;
  display: flex;
  justify-content: space-around;
  border: solid 1px #ccc;
  border-left: none;
  border-right: none;
  line-height: 0.54rem; }
  .hxc-cp h3 {
    width: 25%;
    text-align: center;
    font-size: 0.2rem;
    font-weight: normal; }
    .hxc-cp h3 span, .hxc-cp h3 i {
      display: inline-block;
      width: 0.11rem;
      height: 0.16rem;
      background: url(../img/hs_59.jpg) no-repeat;
      background-size: 0.11rem  0.16rem;
      margin: 0 0.15rem; }
    .hxc-cp h3 i {
      background: url(../img/hs_62.jpg) no-repeat 0;
      background-size: 0.1rem  0.07rem; }
    .hxc-cp h3 img {
      width: 0.29rem;
      height: 0.24rem; }

.hxc-list ul li {
  width: 6.4rem;
  display: flex;
  padding: 0.15rem 0;
  justify-content: space-around; }
  .hxc-list ul li img {
    width: 1.94rem;
    height: 1.94rem; }
  .hxc-list ul li div {
    width: 4.12rem; }
    .hxc-list ul li div h3 {
      height: 0.62rem;
      line-height: 0.31rem;
      font-size: 0.2rem; }
      .hxc-list ul li div h3 span {
        display: inline-block;
        line-height: 0.2rem;
        border: solid 1px #CC0000;
        color: #c00;
        font-size: 0.18rem;
        font-weight: normal;
        margin-right: 0.1rem;
        padding: 0 0.1rem; }
    .hxc-list ul li div h4 {
      font-size: 0.24rem;
      color: red;
      line-height: 0.5rem; }
      .hxc-list ul li div h4 span {
        font-size: 0.16rem; }
      .hxc-list ul li div h4 small {
        color: #666;
        font-size: 0.2rem;
        font-weight: normal; }
    .hxc-list ul li div p {
      display: flex;
      justify-content: space-between; }
      .hxc-list ul li div p b, .hxc-list ul li div p span {
        display: block;
        font-size: 0.18rem;
        height: 0.2rem; }
      .hxc-list ul li div p b {
        background: #c00;
        color: #fff;
        padding: 0.05rem;
        line-height: 0.2rem; }
      .hxc-list ul li div p span {
        padding: 0.05rem;
        line-height: 0.2rem;
        background: #ffeae9;
        color: #c00; }

.brefer {
  background: #eee;
  height: 0.2rem;
  line-height: 0.2rem;
  text-align: center;
  font-size: 0.12rem;
  display: none; }

.footer {
  height: 0.8rem; }
  .footer ul {
    display: flex; }
    .footer ul li {
      width: 20%;
      padding-top: 0.1rem; }
      .footer ul li img {
        width: 0.38rem;
        height: 0.34rem;
        display: block;
        margin: 0 auto; }
      .footer ul li a {
        display: block;
        font-size: 0.16rem;
        text-align: center;
        text-decoration: none;
        color: #222;
        line-height: 0.2rem; }
      .footer ul li:nth-child(3) img {
        width: 0.73rem;
        height: 0.59rem; }

.ftop {
  width: 0.5rem;
  height: 0.5rem;
  position: fixed;
  text-align: center;
  line-height: 0.25rem;
  background: radial-gradient(rgba(0, 0, 0, 0), black);
  right: 0;
  bottom: 0.7rem;
  font-size: 0.12rem;
  padding: 0.1rem; }

/*# sourceMappingURL=style.css.map */
