body,ul,ol,li,p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    font-size: 0.24rem;
    line-height: 0.4rem;
}
.hxc-header{
    height: 0.7rem;
    font-size: 0.2rem;
    text-align: center;
    background: #000000;
    color: #fff;
    line-height: 0.7rem;
}
.hxc-nav{
    height:0.7rem;
    background: #EEEEEE;
    ul{
        display: flex;
         height:0.7rem;
         align-items: center;
        li{
            width: 25%;
            text-align: center;
            &.active{
                color: #e00;
            }
        }
    }
}
html{ height: 100%;}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#hxc-page{
    height: 0;
    flex-grow: 1;
    overflow: hidden;
    .swiper-slide{
        display: flex;
        flex-direction: column;
        width: 6.4rem;
        
         h1{
             width: 6.4rem;
            line-height: 1rem;
            font-size: 0.48rem;
            text-align: center;
            border-bottom: solid 1px #ccc;
        }
    }

}
.hxc-box{
    height: 0;
    flex-grow: 1;
    overflow: hidden;
    .hxc-content{
        width: 6.4rem;
        min-height: 101%;
        ul{
            padding: 0.1rem;
            li{
                line-height: 0.7rem;
                height: 0.7rem;
                border-bottom: dashed 1px #ccc;
            }
        }

    }
}

.hxc-footer{
    
    @extend .hxc-header;
}
